---
- name: Create the user
  ansible.builtin.user:
    name: "{{ aur_user }}"
    system: true
  become: true
  tags:
    - aur_builder

- name: Install sudo
  community.general.pacman:
    name: sudo
    state: present
  become: true
  tags:
    - aur_builder


- name: Add the user to sudo
  community.general.sudoers:
    name: 11-install-aur_builder
    user: "{{ aur_user }}"
    commands: /usr/bin/pacman
    nopassword: true
  become: true
  tags:
    - aur_builder


- name: Add Tor Browser gpg key
  ansible.builtin.command: gpg --keyserver hkp://keys.openpgp.org:11371 --recv-keys 0xE53D989A9E2D47BF
  changed_when: false
  become: true
  become_user: "{{ aur_user }}"
  tags:
    - aur_builder
    - tor_browser_key
