---
- name: "Create directory {{ wallpaper_changer_base_dir }}"
  ansible.builtin.file:
    path: "$HOME/{{ wallpaper_changer_base_dir }}"
    state: directory
    mode: "0755"

- name: Clone the python script repo
  ansible.builtin.git:
    repo: 'https://github.com/nsv777/random_wallpaper_url.git'
    version: "{{ wallpaper_changer_git_tag }}"
    dest: "$HOME/{{ wallpaper_changer_base_dir }}/random_wallpaper_url"

- name: Install packages
  ansible.builtin.include_role:
    name: install_packages
    vars_from: wallpaper_changer

- name: Copy shell script
  ansible.builtin.copy:
    src: wallpaper_changer.sh
    dest: "$HOME/{{ wallpaper_changer_base_dir }}"
    mode: "0755"

- name: "Create venv {{ wallpaper_changer_venv }}"  # noqa: package-latest
  ansible.builtin.pip:
    requirements: "$HOME/{{ wallpaper_changer_base_dir }}/random_wallpaper_url/requirements.txt"
    virtualenv: "$HOME/{{ wallpaper_changer_venv }}"
    state: latest

- name: "Create systemd unit directory {{ wallpaper_changer_systemd_unit_dir }}"
  ansible.builtin.file:
    path: "$HOME/{{ wallpaper_changer_systemd_unit_dir }}"
    state: directory
    mode: "0755"

- name: "Create systemd service {{ wallpaper_changer_systemd_service_name }}"
  ansible.builtin.template:
    src: systemd/wallpaper_changer.service.j2
    dest: "$HOME/{{ wallpaper_changer_systemd_unit_dir }}/{{ wallpaper_changer_systemd_service_name }}.service"
    mode: "0644"
  notify: Systemd_daemon_reload

- name: "Create systemd timer {{ wallpaper_changer_systemd_service_name }}"
  ansible.builtin.template:
    src: systemd/wallpaper_changer.timer.j2
    dest: "$HOME/{{ wallpaper_changer_systemd_unit_dir }}/{{ wallpaper_changer_systemd_service_name }}.timer"
    mode: "0644"
  notify: Systemd_daemon_reload

- name: Flush handlers to reload systemd config
  ansible.builtin.meta: flush_handlers

# To list user timers: systemctl  --user list-timers --all
# To check service status: systemctl  --user status wallpaper-changer.service
- name: "Enable timer {{ wallpaper_changer_systemd_service_name }}"
  ansible.builtin.systemd:
    name: "{{ wallpaper_changer_systemd_service_name }}.timer"
    enabled: true
    scope: user
