---
- name: Install filezilla on Arch
  ansible.builtin.include_tasks:
    file: do_install_filezilla.yml
  when: arch in ansible_facts['distribution']
  tags:
    - install_filezilla
    - filezilla


- name: Create config directory
  ansible.builtin.file:
    path: $HOME/.config/filezilla
    state: directory
    mode: "0755"
  tags:
    - configure_filezilla
    - filezilla


- name: Copy config
  ansible.builtin.copy:
    src: sitemanager.xml
    dest: $HOME/.config/filezilla/
    mode: "0644"
  tags:
    - configure_filezilla
    - filezilla
