---
- name: Install packages
  ansible.builtin.include_role:
    name: install_packages
    vars_from: "{{ role_name }}"

- name: Create config directory
  ansible.builtin.file:
    path: $HOME/.config/geany
    state: directory
    mode: "0700"

- name: Copy config
  ansible.builtin.copy:
    src: geany/geany.conf
    dest: $HOME/.config/geany/
    mode: "0644"
