# Source: tofuutils
# Site: https://github.com/tofuutils/tenv
# Repository: tofuutils / tenv

deb [signed-by=/usr/share/keyrings/tofuutils-tenv-archive-keyring.gpg] https://dl.cloudsmith.io/public/tofuutils/tenv/deb/ubuntu {{ ansible_facts["distribution_release"] }} main
deb-src [signed-by=/usr/share/keyrings/tofuutils-tenv-archive-keyring.gpg] https://dl.cloudsmith.io/public/tofuutils/tenv/deb/ubuntu {{ ansible_facts["distribution_release"] }} main
