# Kong Insomnia repository
# Kong currently publishes Insomnia packages for Ubuntu Focal only.
deb [signed-by=/usr/share/keyrings/kong-insomnia-archive-keyring.gpg] https://packages.konghq.com/public/insomnia/deb/ubuntu focal main
