---
- name: Install lightdm
  kewlfft.aur.aur:
    name:
      - lightdm
      - lightdm-gtk-greeter
      - adwaita-icon-theme
      - faenza-icon-theme
      - gnome-backgrounds
  become: true
  become_user: "{{ aur_user }}"


- name: Copy config
  ansible.builtin.copy:
    src: etc/lightdm/
    dest: /etc/lightdm/
    mode: "0644"
  tags:
    - lightdm_config


- name: Enable service and ensure it is not masked
  ansible.builtin.systemd:
    name: lightdm
    enabled: true
    masked: false
