---
- name: Install guake
  ansible.builtin.include_tasks:
    file: "install_guake_{{ ansible_facts.distribution | lower }}.yml"


- name: Configure guake
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
  with_items: "{{ guake_config }}"
