---
- name: Common part
  hosts: all
  tags: common
  roles:
    - role: create_aur_user
    - role: console_utilities
      tags: console_utilities
    - role: docker
      become: true
      tags: docker
    - role: users
      become: true
      tags: users
    - role: locale
    - role: configure_pacman
      tags: configure_pacman
    - role: sudoers
    - role: systemd
    - role: install_yay
    - role: paccache
    - role: vim
    - role: mountpoints
      become: true
      tags: mountpoints

- name: laptop part
  hosts: laptop
  tags: laptop
  roles:
    - role: intel_driver
      become: true
      tags: intel_driver
    # - role: pulseaudio_hdmi_fix
    - role: lightdm
      become: true
      tags: lightdm
    - role: cinnamon
      tags: cinnamon
    - role: geany
      tags: geany
    - role: guake
      tags: guake
    - role: deadbeef
    - role: wallpaper_changer
      tags: wallpaper_changer
    - role: gui_utilities
    - role: firefox
      tags: firefox
    # - role: kubeseal
    #   tags: kubeseal
    #   become: true
    # - role: bluetooth_reset
    #   tags: bluetooth_reset
    #   become: true

- name: Configure ip forward
  hosts: laptop
  become: true
  roles:
    - role: sysctl_ip_forward
      tags: sysctl_ip_forward
