---
- name: Common part
  hosts: all
  tags: common
  roles:
    - role: create_aur_user
    - role: console_utilities
    - role: docker
      become: true
    - role: users
      become: true
    - role: locale
    - role: configure_pacman
      tags: configure_pacman
    - role: sudoers
    - role: systemd
    - role: install_yay
    - role: paccache
    - role: vim
    - role: mountpoints
      become: true
      tags: mountpoints

- name: laptop part
  hosts: laptop
  tags: laptop
  tasks:
    - name: run setup
      setup:
  roles:
    - role: intel_driver
      become: true
      tags: intel_driver
    - role: pulseaudio_hdmi_fix
    - role: cinnamon
    - role: geany
      tags: geany
    - role: guake
      tags: guake
    - role: deadbeef
    - role: lightdm
      become: true
      tags: lightdm
    - role: wallpaper_changer
      tags: wallpaper_changer
    - role: install_packages
      vars_from: gui_utilities.yml
    - role: firefox
      tags: firefox
    - role: kubeseal
      tags: kubeseal
      become: true
    - role: bluetooth_reset
      tags: bluetooth_reset
      become: true

- name: Configure ip forward
  hosts: laptop
  become: true
  roles:
    - role: sysctl_ip_forward
      tags: sysctl_ip_forward
