---
- name: Common part
  hosts: all
  tags: common
  roles:
    - role: create_aur_user
    - role: locale
    - role: configure_pacman
      tags: configure_pacman
    - role: systemd
    - role: install_yay
    - role: paccache
    - role: vim
    - role: console_utilities
    - role: docker
      become: true

- name: laptop part
  hosts: laptop
  roles:
    - role: usb_mouse_on_boot
    - role: pulseaudio_hdmi_fix
#    - role: install_ansible_aur
#    - role: install_packages
    - role: cinnamon
    - role: geany
    - role: guake
      tags: guake
    - role: deadbeef
    - role: filezilla
    - role: lightdm
      become: true
      tags: lightdm
    - role: wallpaper_changer
      tags: wallpaper_changer
    - role: twitch_curses
    - role: install_graphic_utilities
    - role: firefox
      tags: firefox
    - role: kubeseal
      tags: kubeseal
      become: true
    - role: bluetooth_reset
      tags: bluetooth_reset
      become: true

- name: Configure ip forward
  hosts: laptop
  become: true
  roles:
    - role: sysctl_ip_forward
      tags: sysctl_ip_forward
